.title-current {
    color: rgb(231, 15, 21);
    font-weight: bold;
}

.title-history {
    color: rgb(231, 15, 21);
    font-weight: bold;
}

table {
    font-size: 0.8rem;

}

@media (min-width: 768px) {
    table {
        font-size: 1rem;
    }
}