@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --font-family: 'Overpass', sans-serif;
    --backgroundColor: hsl(0, 0%, 14%);
    --primaryColor: black;
    --fontSize: 1em;
}


body {
    font-family: var(--font-family) !important;
    color: white !important;
    background-color: var(--backgroundColor) !important;
}